



/*-----------------HTML AND BODY TAGS------------------------------------------------------*/

html{
	position:relative;
	min-height:100%;
}
/*body{
    font-family:'Nunito', sans-serif;
	margin-bottom: 50px;*/
#landing{
	color:#FF5555;
	background-color:#FF5555;
	
}
body{
	/*background-color:#E9EBE4;*/
	/*background: #e5e5e5; /* Old browsers */
background: -moz-linear-gradient(top, #ebebe0 0%, #d3d3d3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ebebe0 0%,#d3d3d3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ebebe0 0%,#d3d3d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	/*background-image: url("/images/flsunset.jpg");
	
	
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}
.gradient-text {
	background:-moz-linear-gradient(top, red 0%, fuchsia 100%);
	background:-webkit-linear-gradient(top, red 0%,fuchsia 100%);
	background:linear-gradient(to bottom, red 0%,fuchsia 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='red', endColorstr='fuchsia',GradientType=0 );
	-webkit-background-clip: text;
	-ms-background-clip:text;
	-moz-background-clip:text;
	background-clip:text;
  -webkit-text-fill-color: transparent;
	-ms-text-fill-color:transparent;
	-moz-text-fill-color:transparent;
	text-fill-color:transparent;
}

.insta-bg{
background-image:("https://snapwidget.com/embed/373851");
background-size:100%;
border:none;
overflow:hidden;
	
}

#instafeed img {
padding:5px;
opacity:0.8;
filter:alpha(opacity=80);
}

#instafeed img:hover {
opacity:1;
filter:alpha(opacity=100);
}
	
#background{
	background-color:transparent;
	
	
}

.body-nav {
	color:black;
	font-weight:800;
	font-size: 1,2em;
	height:50px;
	text-transform:uppercase;

	
}
.body-nav>div{
	height:50px;
	padding-left:0px;
	padding-right:0px;
	opacity:1;
	
}
	
.body-nav>div:nth-child(1) {
	background-color:red;
	
	
}
.body-nav>div:nth-child(2) {
	background-color:#ff7400;
	
	
}
.body-nav>div:nth-child(3) {
	background-color:fuchsia;
	
	
}

a.body_nav_link {
    display:inline-block;
    width: 100%;
    line-height: 50px;
    color:white;
    font-weight:600;
    text-transform:uppercase;
}

a.body_nav_link:hover, a.body_nav_link:focus, a.body_nav_link:active{

    display:inline-block;
    width: 100%;
    line-height: 50px;
    color:white;
    background-color:black;
}



.content-section {
    background-color: white;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	margin-right: 15px;
	margin-top:15px;
	  -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px rgba(0, 0, 0, 0.4);  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px rgba(0, 0, 0, 0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    	
}


	
panel .panel {
	font-size:.9em;
}

	.navbar-brand {
    /*font-family: 'Nunito', sans-serif;*/
    font-weight: 800;
    text-transform:uppercase;
    font-size:32px;
    color:black;
}

/*#background {
   background-image: url("../images/gainesvillemapbw.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
*/   


h2 {
    margin-bottom: 20px;
    margin-top:0px;
    font-weight:800;
     text-align:left;
}

p>span {
	font-weight:800;
}
.fine-print{
	font-size:0.8em;
}

p {
	margin-right:10px;
}
	

	
/*-----------------FOOTER---------------------------------------------------------------------*/
/*.footer {
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.navbar-fixed-bottom {
	border-width:0;
	padding-top:15px;
}
*/
section:last-child {
	margin-bottom:50px;
}

.panel-footer {
    border: 0;
}


footer {
    background-color: #d3d3d3;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow:hidden;

}

/*-----------------Header----------------------------------------------------------------------*/

}

header{
	/*background-color:transparent;
	background-image: url("/images/flsunset.jpg");*/
}
#header-nav{
	/*background-image: url("/images/paynespanorama.gif");*/
	background-size: 2000px;
	
    background-color:#333;
	
    border: 0px;
	border-style:none;
    
}
.navbar{
	border-radius:0px;
}
.navbar-default .navbar-brand {
    color: white;
   
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: white;
  background-color: transparent;
}
/*.navbar-default .navbar-brand>a:hover,
.navbar-default .navbar-brand>a:focus{
   opacity: 1;
   color: red;
   */
}

#collapsable-nav {
    background-color:#dcdcdc;
	
    
}

/*----NAVBAR LIST ITEMS------------------------------*/


#nav-list{
    text-align:center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight:800;
    color: white;

}
.navbar-default .navbar-nav>li>a {
    color: white;
}

.nav>li:hover, .nav>li:focus, .nav>li:active {
    background-color: red;
	

}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
}


	 
	   

/*----NAVBAR TOGGLE BUTTON------------------------------*/

button.navbar-toggle {
    background-color:white;
    border:0px;
    
}
    
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color:white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color:red;
}


    
    



/*-----------------CIRCLES-----------------*/


.tricircle {
    width: 200px;
    height: 400px;
    margin-top:25px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
		
    }
.circle {
	background-color:black;
    border-radius: 50%; 
    border-color: white;
    border-width: 0px;
	 width:150px;
	 height:150px;
	 opacity: 1;
    }



div.circle {
	
	color:white;
	text-transform:uppercase;
	font-weight:800;

	}

div.circle:hover {
	
	
	color:black;
	text-transform:uppercase;
	font-weight:800;

	}
a.circle_link {

    display:inline-block;
    width: 100%;
    line-height: 150px;
    color:white;
}

/*div>a {
	   color:white;
}
*/
	
div>a:hover, div>a:focus, div>a:active {
	   color:red;
	text-decoration:none;
}






   

/*----------------------------LARGE SCREEN ONLY---------------------------------*/ 

@media screen and (min-width: 767px){
	
	section.body-nav {
	visibility:hidden;
		height:0px;
}
	section>p {
	font-size: 1em;
	padding-left:10px;
	padding-right:10px;
	
}
section>ul {
	font-size: 1em;
	padding-left:20px;
	padding-right:10px;
}
  
 /*#collapsable-nav {
  background-color:#dcdcdc;*/
  #collapsable-nav {
	  background-color:transparent;
	  
        }
   
     li {
        color:black;
        
    }
	
 .navbar-nav ul li a:hover, .navbar-nav ul li a:focus, .navbar-nav ul li a:active {
	   color:white;
	 
	   
	}
	
.nav>li:hover:nth-child(1), .nav>li:focus:nth-child(1), .nav>li:active:nth-child(1) {
        background-color:red;
        color: white;
	   opacity:1;
    
}
   .nav>li:hover:nth-child(2), .nav>li:focus:nth-child(2), .nav>li:active:nth-child(2) {
        background-color:red;
        color: white;
	   opacity:1;
    
}
        .nav>li:hover:nth-child(3), .nav>li:focus:nth-child(3), .nav>li:active:nth-child(3) {
        background-color:red;
        color: white;
		opacity:1;
    
}
	
	   .nav>li:hover:nth-child(4), .nav>li:focus:nth-child(4), .nav>li:active:nth-child(4) {
        background-color:red;
        color: white;
		opacity:1;
    
}

.panel-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
    
/*---------------------------ARRANGING CIRCLES VERTICALLY-------------------------------------*/	
	 .circle:nth-child(1) {
        /* font-family:'Nunito', sans-serif;*/
	background-color:red;
        position: absolute;
        top: 0px;
        left: 25px;
		 
    }
	.circle:hover:nth-child(1), .circle:focus:nth-child(1), .circle:active:nth-child(1){
	   /*background-image: url("../images/phoneanswerbw.png");
             background-repeat: no-repeat;
             background-attachment: static;
             background-position: center;
		background-size: 250px 200px;
		overflow:hidden;*/
		background-color:white;
		opacity:1;
		/*border-radius: 50%;
                 border: 4px solid red;*/
		
	}
	
    .circle:nth-child(2) {
	   /* font-family:'Nunito', sans-serif;*/
	    background-color:#ff7400;
        position: absolute;
        top: 125px;
        left: 25px;
    }
	.circle:hover:nth-child(2), .circle:focus:nth-child(2), .circle:active:nth-child(2){
	     /*background-image: url("../images/gainesvillemapbw.png");
             background-repeat: no-repeat;
             background-attachment: static;
             background-position: center;
		background-size: 200px 200px;
		overflow:hidden;*/
		background-color:white;
		opacity:1;
		/*border-radius: 50%;
                 border: 4px solid red;*/
    }
    
    .circle:nth-child(3) {
	   /* font-family:'Nunito', sans-serif;*/
	    background-color:fuchsia;
        position: absolute;
       top: 250px;
       left: 25px;
    }
	.circle:hover:nth-child(3), .circle:focus:nth-child(3), .circle:active:nth-child(3){
	   background-color:white;
		opacity:1;
		/*border-radius: 50%;
                 border: 4px solid red;*/
    }

} 
/*-------------ARRANGING CIRCLES IN PYRAMID-------------------------------------*/
 /*  
    .circle:nth-child(1) {
	    background-color:#d3d3d3;
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
	.circle:hover:nth-child(1), .circle:focus:nth-child(1), .circle:active:nth-child(1){
	    background-color:white;
		color:black;
		opacity:1;
    }
	
    .circle:nth-child(2) {
	    background-color:#ff7034;
        position: absolute;
        top: -70px;
        left: 75px;
    }
	.circle:hover:nth-child(2), .circle:focus:nth-child(2), .circle:active:nth-child(2){
	    background-color:white;
		color:black;
		opacity:1;
    }
    
    .circle:nth-child(3) {
	    background-color:red;
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
	.circle:hover:nth-child(3), .circle:focus:nth-child(3), .circle:active:nth-child(3){
	    background-color:white;
		color:black;
		opacity:1;
    }
}
	
	*/


/*-----------------------MEDIUM SCREEN SIZES------------------------*/
@media screen and (min-width: 992px){
.navbar-toggle {
    display:none;
    
}
	
	}

/*-----------------------SMALL SCREEN SIZES------------------------*/
@media screen and (max-width: 767px){
	

	#nav-list{
		background-color:#333;
	}
	
	#jumbotron {
	width: 300px;
	height: 300px;
	}
	
	.navbar-brand {
   /* font-family: 'Nunito', sans-serif;*/
    font-weight: 800;
    text-transform:uppercase;
    font-size:24px;
    color:black;
}
	


section.circle-nav {
    width: 0px;
    height: 0px;
    margin-top:25px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    visibility:hidden;

    }
	section.home-circles {
    width: 200px;
    height: 300px;
    margin-top:25px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    

    }

	
/*---------------------------ARRANGING CIRCLES VERTICALLY-------------------------------------*/	
	 .circle:nth-child(1) {
	/*font-family:'Nunito', sans-serif;*/   
	background-color:red;
        position: absolute;
        top: 0px;
        left: 25px;
    }
	.circle:hover:nth-child(1), .circle:focus:nth-child(1), .circle:active:nth-child(1){
	    /*background-image: url("../images/phoneanswerbw.png");
             background-repeat: no-repeat;
             background-attachment: static;
             background-position: center;
		background-size: 250px 200px;
		overflow:hidden;
		background-color:white;
		opacity:0.50;*/
		background-color:white;
		opacity:1;
		border-radius: 50%;
                 border: 4px solid red;
    }
	
    .circle:nth-child(2) {
	    /*font-family:'Nunito', sans-serif;*/ 
	    background-color:#ff7400;
        position: absolute;
        top: 125px;
        left: 25px;
    }
	.circle:hover:nth-child(2), .circle:focus:nth-child(2), .circle:active:nth-child(2){
	     /*background-image: url("../images/gainesvillemapbw.png");
             background-repeat: no-repeat;
             background-attachment: fixed;
             background-position: center;
		overflow:hidden;
		background-color:white;
		opacity:0.75;*/
		background-color:white;
		opacity:1;
		border-radius: 50%;
                 border: 4px solid red;
    }
    
    .circle:nth-child(3) {
	    /*font-family:'Nunito', sans-serif;*/ 
	    background-color:fuchsia;
        position: absolute;
       top: 250px;
       left: 25px;
    }
	.circle:hover:nth-child(3), .circle:focus:nth-child(3), .circle:active:nth-child(3){
	    background-color:white;
		opacity:1;
		border-radius: 50%;
                 border: 4px solid red;
    }
	}
/*-----------------------EXTRA SMALL SCREEN SIZES------------------------*/
@media screen and (max-width: 400px){
	
	#jumbotron {
	width: 300px;
	height: 300px;
	}
}
.content-section {
   
	margin-right: 0px;
	
    	
}
/*-----------------------EXTRA EXTRA SMALL SCREEN SIZES------------------------*/
@media screen and (max-width: 310px){
	
	#jumbotron {
	width: 300px;
	height: 300px;
	}
}

	
	
	
