



/*-----------------HTML AND BODY TAGS------------------------------------------------------*/

html{
	position:relative;
	min-height:100%;
}
/*body{
    font-family:'Nunito', sans-serif;
	margin-bottom: 50px;*/
#landing{
	color:#FF5555;
	background-color:#FF5555;
	
}

.body-nav {
	color:black;
	font-weight:800;
	font-size: 1,2em;
	height:50px;
	text-transform:uppercase;

	
}
.body-nav>div{
	height:50px;
	padding-left:0px;
	padding-right:0px;
	opacity:0.75;
	
}
	
.body-nav>div:nth-child(1) {
	background-color:red;
	
	
}
.body-nav>div:nth-child(2) {
	background-color:#ff7400;
	
	
}
.body-nav>div:nth-child(3) {
	background-color:fuchsia;
	
	
}

a.body_nav_link {
    display:inline-block;
    width: 100%;
    line-height: 50px;
    color:white;
    font-weight:600;
    text-transform:uppercase;
}

a.body_nav_link:hover, a.body_nav_link:focus, a.body_nav_link:active{

    display:inline-block;
    width: 100%;
    line-height: 50px;
    color:white;
    background-color:black;
}



section {
    background-color: white;
    
	
	
}
panel .panel {
	font-size:.9em;
}

	.navbar-brand {
    /*font-family: 'Nunito', sans-serif;*/
    font-weight: 800;
    text-transform:uppercase;
    font-size:32px;
    color:black;
}

/*#background {
   background-image: url("../images/gainesvillemapbw.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
*/   


h2 {
    margin-bottom: 20px;
}

p>span {
	font-weight:800;
}
.fine-print{
	font-size:0.8em;
}


	

	
/*-----------------FOOTER---------------------------------------------------------------------*/
/*.footer {
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.navbar-fixed-bottom {
	border-width:0;
	padding-top:15px;
}
*/


.panel-footer {
    border: 0;
}


footer {
    background-color: #dcdcdc;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow:hidden;
}

/*-----------------Header----------------------------------------------------------------------*/

}


#header-nav{
    background-color: #dcdcdc;
    border: 0px;
    
}

.navbar-default .navbar-brand {
    color: black;
   
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: red;
  background-color: transparent;
}
.navbar-default .navbar-brand>a:hover,
.navbar-default .navbar-brand>a:focus{
   opacity: 1;
   color: red;
   
}

#collapsable-nav {
    background-color:#dcdcdc;
	
    
}

/*----NAVBAR LIST ITEMS------------------------------*/


#nav-list{
    text-align:center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight:800;
    color: white;

}
.navbar-default .navbar-nav>li>a {
    color: black;
}

.nav>li:hover, .nav>li:focus, .nav>li:active {
    background-color: red;
	

}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
}


	 
	   

/*----NAVBAR TOGGLE BUTTON------------------------------*/

button.navbar-toggle {
    background-color:#dcdcdc;
    border:0px;
    
}
    
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color:white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color:red;
}


    
    



/*-----------------CIRCLES-----------------*/


.tricircle {
    width: 200px;
    height: 400px;
    margin-top:25px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
		
    }
.circle {
	background-color:black;
    border-radius: 50%; 
    border-color: white;
    border-width: 10px;
	 width:150px;
	 height:150px;
	 opacity: 0.75;
    }



div.circle {
	
	color:white;
	text-transform:uppercase;
	font-weight:800;

	}

div.circle:hover {
	
	
	color:black;
	text-transform:uppercase;
	font-weight:800;

	}
a.circle_link {

    display:inline-block;
    width: 100%;
    line-height: 150px;
    color:white;
}

/*div>a {
	   color:white;
}
*/
	
div>a:hover, div>a:focus, div>a:active {
	   color:red;
	text-decoration:none;
}






   

/*----------------------------LARGE SCREEN ONLY---------------------------------*/ 

@media screen and (min-width: 767px){
	
	section.body-nav {
	visibility:hidden;
		height:0px;
}
	section>p {
	font-size: 1.2em;
	padding-left:60px;
	padding-right:20px;
	
}
section>ul {
	font-size: 1.2em;
	padding-left:80px;
	padding-right:20px;
}
  
 #collapsable-nav {
  background-color:#dcdcdc;
  
        }
   
     li {
        color:black;
        
    }
	
 .navbar-nav ul li a:hover, .navbar-nav ul li a:focus, .navbar-nav ul li a:active {
	   color:white;
	 
	   
	}
	
.nav>li:hover:nth-child(1), .nav>li:focus:nth-child(1), .nav>li:active:nth-child(1) {
        background-color:red;
        color: white;
	   opacity:0.75;
    
}
   .nav>li:hover:nth-child(2), .nav>li:focus:nth-child(2), .nav>li:active:nth-child(2) {
        background-color:red;
        color: white;
	   opacity:0.75;
    
}
        .nav>li:hover:nth-child(3), .nav>li:focus:nth-child(3), .nav>li:active:nth-child(3) {
        background-color:red;
        color: white;
		opacity:0.75;
    
}
	
	   .nav>li:hover:nth-child(4), .nav>li:focus:nth-child(4), .nav>li:active:nth-child(4) {
        background-color:red;
        color: white;
		opacity:0.75;
    
}

.panel-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
    
/*---------------------------ARRANGING CIRCLES VERTICALLY-------------------------------------*/	
	 .circle:nth-child(1) {
         font-family:'Nunito', sans-serif;
	background-color:red;
        position: absolute;
        top: 0px;
        left: 25px;
		 
    }
	.circle:hover:nth-child(1), .circle:focus:nth-child(1), .circle:active:nth-child(1){
	   /*background-image: url("../images/phoneanswerbw.png");
             background-repeat: no-repeat;
             background-attachment: static;
             background-position: center;
		background-size: 250px 200px;
		overflow:hidden;*/
		background-color:white;
		opacity:1;
		border-radius: 50%;
                 border: 4px solid red;
		
	}
	
    .circle:nth-child(2) {
	    font-family:'Nunito', sans-serif;
	    background-color:#ff7400;
        position: absolute;
        top: 125px;
        left: 25px;
    }
	.circle:hover:nth-child(2), .circle:focus:nth-child(2), .circle:active:nth-child(2){
	     /*background-image: url("../images/gainesvillemapbw.png");
             background-repeat: no-repeat;
             background-attachment: static;
             background-position: center;
		background-size: 200px 200px;
		overflow:hidden;*/
		background-color:white;
		opacity:1;
		border-radius: 50%;
                 border: 4px solid red;
    }
    
    .circle:nth-child(3) {
	    font-family:'Nunito', sans-serif;
	    background-color:fuchsia;
        position: absolute;
       top: 250px;
       left: 25px;
    }
	.circle:hover:nth-child(3), .circle:focus:nth-child(3), .circle:active:nth-child(3){
	    background-color:white;
		color:black;
		opacity:1;
		border-radius: 50%;
                 border: 4px solid red;
    }

} 
/*-------------ARRANGING CIRCLES IN PYRAMID-------------------------------------*/
 /*  
    .circle:nth-child(1) {
	    background-color:#d3d3d3;
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
	.circle:hover:nth-child(1), .circle:focus:nth-child(1), .circle:active:nth-child(1){
	    background-color:white;
		color:black;
		opacity:1;
    }
	
    .circle:nth-child(2) {
	    background-color:#ff7034;
        position: absolute;
        top: -70px;
        left: 75px;
    }
	.circle:hover:nth-child(2), .circle:focus:nth-child(2), .circle:active:nth-child(2){
	    background-color:white;
		color:black;
		opacity:1;
    }
    
    .circle:nth-child(3) {
	    background-color:red;
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
	.circle:hover:nth-child(3), .circle:focus:nth-child(3), .circle:active:nth-child(3){
	    background-color:white;
		color:black;
		opacity:1;
    }
}
	
	*/


/*-----------------------SMALL SCREEN SIZES------------------------*/
@media screen and (max-width: 767px){
	
	#jumbotron {
	width: 450px;
	height: 450px;
	}
	
	.navbar-brand {
   /* font-family: 'Nunito', sans-serif;*/
    font-weight: 800;
    text-transform:uppercase;
    font-size:24px;
    color:black;
}
	


section.circle-nav {
    width: 0px;
    height: 0px;
    margin-top:25px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    visibility:hidden;

    }
	section.home-circles {
    width: 200px;
    height: 300px;
    margin-top:25px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    

    }
	
	
/*---------------------------ARRANGING CIRCLES VERTICALLY-------------------------------------*/	
	 .circle:nth-child(1) {
	font-family:'Nunito', sans-serif;    
	background-color:red;
        position: absolute;
        top: 0px;
        left: 25px;
    }
	.circle:hover:nth-child(1), .circle:focus:nth-child(1), .circle:active:nth-child(1){
	    /*background-image: url("../images/phoneanswerbw.png");
             background-repeat: no-repeat;
             background-attachment: static;
             background-position: center;
		background-size: 250px 200px;
		overflow:hidden;
		background-color:white;
		opacity:0.50;*/
		background-color:white;
		opacity:1;
		border-radius: 50%;
                 border: 4px solid red;
    }
	
    .circle:nth-child(2) {
	    font-family:'Nunito', sans-serif;
	    background-color:#ff7400;
        position: absolute;
        top: 125px;
        left: 25px;
    }
	.circle:hover:nth-child(2), .circle:focus:nth-child(2), .circle:active:nth-child(2){
	     /*background-image: url("../images/gainesvillemapbw.png");
             background-repeat: no-repeat;
             background-attachment: fixed;
             background-position: center;
		overflow:hidden;
		background-color:white;
		opacity:0.75;*/
		background-color:white;
		opacity:1;
		border-radius: 50%;
                 border: 4px solid red;
    }
    
    .circle:nth-child(3) {
	    font-family:'Nunito', sans-serif;
	    background-color:fuchsia;
        position: absolute;
       top: 250px;
       left: 25px;
    }
	.circle:hover:nth-child(3), .circle:focus:nth-child(3), .circle:active:nth-child(3){
	    background-color:white;
		opacity:1;
		border-radius: 50%;
                 border: 4px solid red;
    }
	}
/*-----------------------EXTRA SMALL SCREEN SIZES------------------------*/
@media screen and (max-width: 360px){
	
	#jumbotron {
	width: 350px;
	height: 350px;
	}
}

/*-----------------------EXTRA EXTRA SMALL SCREEN SIZES------------------------*/
@media screen and (max-width: 310px){
	
	#jumbotron {
	width: 300px;
	height: 300px;
	}
}

	
	
	

